

#conteudo{
    width: 800px;
    height:1000px;
    background-color: rgb(130, 218, 218);
    margin: 0 auto;


}

#cabecalho{
    width: 800px;
    height: 300px;
    background-color: coral;
    display: flex;
    /* display ver no mdn, ver o q cada um faz */
    /* crtl + ; */ 
}

#fotodeperfil{
    width: 300px;
    height: 300px;
    background-color: white;
    /* padding: 50px;  */
    /* para que usar o padding */
    /* box-sizing: border-box; */
    /* ver a funça disso importante */
    display:flex;
    align-items: center;
    justify-content: center;

    /* flexbox */
}

#fotodeperfil img,
.destaque img{
    border-radius: 50%;
    /* margin: 50px; img para deixar redondo*/ 
}



#textodeperfil{
    width: 500px;
    height: 300px;
    background-color: white;

    padding: 20px 50px;
    box-sizing: border-box;

    /* para a div ficar do tamanho que deixei ela */


}

#span-seguindo{
    font-weight: bold;
    margin-left: 50px;
    
}

.juntinhos{
    margin: 0;
}

#essenao{
    /* margin-top: 15px; */
    /* margem em cima */
    /* margin-bottom: 15px; */
    margin: 15px 0;
    /* 15px pega a margem de cima e de baixo e 0 a lateral */
}

#pill{
    background-color: rgb(231, 229, 229);
    padding: 8px;
    border-radius: 20px;

    /* pega o pill e todos os imgs dentro do pill, aninhamento de css */
    /* img{
        margin-bottom: -3px;
    } */


}

#destaques{
    height: 150px;
    width: 800px;
    background-color: white;
    display: flex;
    
    /* quando passa do conteiner */
    overflow-x: scroll; 
    overflow-y: hidden;
} 
::-webkit-scrollbar {
        width: 10px;
    }

::-webkit-scrollbar-thumb{
background-color: rgb(250, 95, 121);

}




#feed{
    height: 1000px;
    width: 800px;
    background-color: white;
}


/* qualquer um depois do pill */
#pill img{
    position: relative;
    top: 5px;
    margin-top: 5px;  /* vertical-align: middle; */

}

/* img dentro do pill obrigatoriamente */
/* pill > img */

a{
    text-decoration: none;
}

#icone-link{
    background-image: url("link-icon.png");
    height: 12px;
    width: 12px;
    display: inline-block;
    background-size: 12px;
}

.destaque{
    width: 120px;
    height: 150px;
    background-color:white;
    /* justify-content: space-between;
    align-items: center;
    display: flex; */
    padding: 10px;
    box-sizing: border-box;

   p{
    margin-top: 0;
    text-align: center;
    font-weight: 600;

   }

}

#feed{
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 20px;
    margin-left: 10px; */
    padding: 10px;
    gap: 10px;

        
}



/* como estilizar a barra de rolagem */
